<nav id="nav-bar" class="navbar navbar-light" style="background-color:#181919;" >
    <img src="/img/cube.svg">
    <div class="container">  
        <a class="nav-link" style="color: silver;"  href="/"><img src="/img/house.svg">Home</a>
        <a class="nav-link" style="color: silver;" href="/perguntar"><img src="/img/question-square-fill.svg">Perguntar</a>
        <a class="nav-link" style="color: silver;" href="/contato"><img src="/img/telephone.svg">Contato</a>
    </div>
</nav>
