
<%- include('partials/header.ejs') %>


<%- include('partials/nave-bar.ejs') %>

<div class="container">

    <div class="card-header" style="background-color: gray; border-radius: 20px; margin-top: 150px;">

        <div class="card-body" style="text-align: center; ">

            <a style="margin-right: 35px;" href="https://www.instagram.com/vitorkrei/"><img src="/img/instagram.svg"></a>
            <a style="margin-right: 35px;" href="https://github.com/VitorKreis"><img src="/img/github.svg"></a>
            <a style="margin-right: 35px;" href="https://www.linkedin.com/in/vitor-k-richter-alves-72b0b6197/"><img src="/img/linkedin.svg"></a>

        </div>


    </div>

</div>

<%- include('partials/footer.ejs') %>